/* Estilos base */
.section-ayuda {
  padding: 110px 250px; /* Ajuste del padding para ser responsivo */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-ayuda h1 {
  font-size: 32px;
  text-align: center;
  line-height: 1.5;
}

.section-ayuda p {
  font-size: 22px;
  line-height: 1.5;
}

.section-ayuda img {
  max-width: 50%; /* Hacer que la imagen sea completamente receptiva */
  height: 400px; /* Establecer la altura fija para las imágenes */
  display: block; /* Evitar espacio adicional debajo de la imagen */
  margin: 0 auto; /* Centrar la imagen */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  /* Ajustes para pantallas de hasta 768px de ancho */
  .section-ayuda {
    padding-top: 50px; /* Menos espacio superior en pantallas más pequeñas */
  }

  .section-ayuda .titulo {
    font-size: 30px; /* Reducir el tamaño del título */
    padding: 30px;
  }

  .section-ayuda .principal {
    padding: 20px; /* Reducir el relleno */
  }

  .section-ayuda .texto {
    padding: 10px; /* Reducir el relleno */
    margin: 10px; /* Reducir el margen */
    font-size: 20px; /* Reducir el tamaño del texto */
  }
}
