/*clase de la sección*/
.section{
	padding-top: 87px;
  min-height: 250vh; /*temp*/
}

/*título*/
.titulo{
  font-size: 40px;
}

/*clase del div principal*/
.principal{
  padding: 40px;
  text-align: center;
  align-items: center;
}

/*clase de todos los párrafos*/
.texto{
  padding: 20px;
  margin: 20px;
  font-size: 26px;
  justify-content: center;
  text-align: justify;
  line-height: 120%;
  letter-spacing: -0.10rem;
}