.section-acerca {
  padding: 110px 5% 0 5%;
  text-align: center;
}

/* Estilos para el título h1 */
.section-acerca h1 {
  font-size: 40px;
}

/* Estilos para los títulos h4 y párrafos p */
.section-acerca h4 {
  font-size: 26px;
}

.section-acerca p {
  font-size: 25px;
  text-align: justify;
  margin-bottom: 20px;
}

/* Estilos para las imágenes */
.section-acerca img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Media queries para la responsividad */
@media only screen and (max-width: 768px) {
  .section-acerca {
    padding: 100px 5% 0 5%;
  }

  .section-acerca h1 {
    font-size: 28px;
  }

  .section-acerca h4 {
    font-size: 20px;
    text-align: justify;
  }
  .section-acerca p {
    font-size: 18px;
    text-align: justify;
  } 

  .section-acerca img {
    margin: 0 auto;
    max-width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .section-acerca h1 {
    font-size: 28px;
  }

  .section-acerca h4 {
    font-size: 20px;
    text-align: justify;
  }

  .section-acerca p {
    font-size: 18px;
    text-align: justify;
  }

  .section-acerca img {
    margin: 0 auto;
    max-width: 50%;
  }
}
