.section-portafolio {
    padding: 110px 250px; /* Ajuste del padding para ser responsivo */
    min-height: 90vh; /* Altura mínima igual al 100% de la altura de la ventana */
    text-align: center;
    display: flex;
    flex-direction: column;
  }

.section-portafolio h1 {
    font-size: 32px;
}

.section-portafolio p {
    font-size: 22px;
    line-height: 1.5;
}

/* Establecer un tamaño fijo para las imágenes del carrusel */
.carousel .slide img {
    width: 50%; /* Establecer el ancho al 100% del contenedor */
    height: 300px; /* Establecer la altura fija para las imágenes */
    border-radius: 8px; /* Agregar bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra a las imágenes */
}
 
/*Para que el carousel no se encimbe del Navbar -> 1000*/
.carousel {
    z-index: 900;
}

 /* Media queries para la responsividad */
 @media only screen and (max-width: 768px) {
    .section-portafolio {
      padding: 110px 5%;
    }
  
    .section-portafolio h1 {
      font-size: 28px;
      text-align: center;
    }
  
    .section-portafolio p {
      font-size: 20px;
      text-align: justify;
    }

    .carousel .slide img {
        width: 80%; /* Establecer el ancho al 100% del contenedor */
        height: 250px; /* Establecer la altura fija para las imágenes */
        border-radius: 8px; /* Agregar bordes redondeados */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra a las imágenes */
      }
}
