/* Estilos para la sección de la misión */
.section-mision {
    padding: 100px 5% 0 5%; /* Ajuste del padding para ser responsivo */
    min-height: 100vh; /* Altura mínima igual al 100% de la altura de la ventana */
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .section-mision h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el texto del párrafo */
  .section-mision p {
    font-size: 25px;
    text-align: justify;
  }
  
  /* Estilos para la lista ordenada */
  .section-mision ol {
    margin-left: 20px;
  }
  
  /* Estilos para los ítems de la lista ordenada */
  .section-mision ol li {
    text-align: justify;
  }
  
  /* Estilos para las imágenes */
  .section-mision img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    display: block; /* Asegura la adaptabilidad de la imagen */
    margin: 0 auto; /* Centra la imagen */
  }
  
  /* Media queries para la responsividad */
  @media only screen and (max-width: 768px) {
    .section-mision {
      padding: 60px 5% 0 5%; /* Ajuste del padding para pantallas más pequeñas */
    }
  
    .section-mision h2 {
      font-size: 28px;
    }
  
    .section-mision p {
      font-size: 18px;
    }
  }
