.section-vision {
    padding: 110px 250px; /* Ajuste del padding para ser responsivo */
    min-height: 60vh; /* Altura mínima igual al 100% de la altura de la ventana */
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para los títulos h2 */
  .section-vision h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el texto del párrafo */
  .section-vision p {
    font-size: 22px;
    text-align: justify;
    padding: 10px;
    line-height: 1.5;
  }
  
  /* Media queries para la responsividad */
  @media only screen and (max-width: 768px) {
    .section-vision {
      padding: 110px 5% 0 5%; /* Ajuste del padding para pantallas más pequeñas */
    }
  
    .section-vision h2 {
      font-size: 28px;
    }
  
    .section-vision p {
      font-size: 16px;
    }
  }
