/* Estilos para la sección de la visión */
.section-servicios {
    padding: 100px 5% 0 5%; /* Ajuste del padding para ser responsivo */
    min-height: 60vh; /* Altura mínima igual al 100% de la altura de la ventana */
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para los títulos h2 */
  .section-servicios h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el texto del párrafo */
  .section-servicios li p {
    font-size: 25px;
    text-align: justify;
  }

  /* Media queries para la responsividad */
  @media only screen and (max-width: 768px) {
    .section-servicios {
      padding: 60px 5% 0 5%; /* Ajuste del padding para pantallas más pequeñas */
    }
  
    .section-servicios h2 {
      font-size: 28px;
    }
  
    .section-servicios p {
      font-size: 16px;
    }
  }
